<!-- <div class="container">
    <div class="row">
        <ng-container *ngFor="let item of product " >
            <div class="card col-md-3">
                <img src={{item.image}} alt="">

                <h5 class="itemdata">{{item.title}}</h5>
                <p>{{item.category}}</p>
                <p><strong>Price-</strong>${{item.price}}</p>
                <p class="itemdata">{{item.description}}</p>
                <p></p>
                <button class="btn btn-primary">Add to cart</button>
            </div>
        </ng-container>
       
    </div>
</div> -->
<h1>jmhmgb</h1>